.planit__form {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
 
    align-items: center;
    background-color: rgb(209, 255, 249);
    padding: 2rem;
    margin-top: -20px;
    min-height:40rem;
    max-height: auto;
    
}
.planit__form--div {
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 1rem 4rem;
    min-height: 514px;
    max-height: auto;
    max-width: 850px;
    min-width: 400px;
    border-radius: 2rem;
    margin: 0rem 4rem;
    
}
.title {
    /* position: relative; */
    float: center;
    margin-bottom: 1rem;
}
/* h1 {
    font-size: 3rem;
} */
textarea {
    box-sizing: border-box;
    width: 100%;
    height: 4rem;
    margin-bottom: 2rem;
    justify-self: center;
    border: 2px solid black;
    border-radius: 1rem;
    padding: 1rem;
}
/* .one {
     grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;
} */
/* .items {
    min-height: auto;
} */
.planit__img {
    max-width: 400px;
    border-radius: 2rem;
    align-items: center;
}
.button__div {
    display: flex;
    flex-direction: column;
   
}