.planit__form {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(209, 255, 249);
    padding: 2rem;
    margin-top: -20px;
    min-height:40rem;
    max-height: auto;
    
}
.planit__form--div {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    background-color: white;
    padding: 1rem 4rem;
    min-height: auto;
    max-height: auto;
    max-width: 850px;
    min-width: 400px;
    border-radius: 2rem;
    margin: 0rem 4rem;
    align-items:center;
    
}
.title {
    box-sizing: border-box;
    float: center;
    margin: 1rem 0rem;
}

textarea {
    box-sizing: border-box;
    width: 100%;
    height: 4rem;
    margin-bottom: 2rem;
    justify-self: center;
    border: 2px solid black;
    border-radius: 1rem;
    padding: 1rem;
}
.planit__img {
    max-width: 400px;
    border-radius: 2rem;
    align-items: center;
}
.button__div {
    display: flex;
    flex-direction: column;
   
}
.party_pic {
    max-height: 16rem;
    border-radius: 2rem;
}
.party__div{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
.party__div--items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;
    padding: 2rem;
}
.item_content {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    margin: 1rem;
    padding: 2rem; 
}
.guest_content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem;
    padding: 2rem; 
    max-height: 40rem;
    width: 19rem;
    overflow: scroll;
}
.party__title {
    margin: 0 0;
    font-size: 3.5rem;
}
.party__time {
    font-size: 1rem;
    box-sizing: border-box;
    height: 4rem;
 
}
.party__location {
    font-size: 2rem;
    box-sizing: border-box;
    height: .5rem;
    font-weight: 900;
 
}
.party__form--div {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    background-color: white;
    padding: 2rem 4rem;
    /* min-height: 514px; */
    max-height: auto;
    min-width: 900px;
    /* max-width: 850px; */
    border-radius: 2rem;
}
.planit__page {
    background-color: rgb(209, 255, 249);
    margin-top: -20px;
    display:flex;
    flex-direction: row;
    padding: 2rem;
    justify-content: space-around;

}
.onePlanit--img {
    border-radius: 100%;
    width: 5rem;
    height: 5rem;
    object-fit: cover;
}
.profile--pic {
    position: absolute;
    top: -70px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    background-color: white;
    display: flex;
    justify-content: center;
    z-index: 99;
}
.onePlanit--holder {
    display: flex;
    flex-direction: row;
}
.name-tag {
    font-size: 2.5rem;
    /* display: flex; */
}
.claimed {
    border-radius: 100%;
    object-fit: cover;
    width: 2rem;
    height: 2rem;
    outline:none;
}
.planit__info--div {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    box-sizing: border-box;
    margin: -1rem 0rem;
    padding: -1rem 0rem;
}
.party_item--input {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-self: center;
}
:root {
  --select-border: #777;
  --select-focus: rgb(209, 255, 249);
  --select-arrow: var(--select-border);
}
.custom_select {
    /* background-color:  rgb(209, 255, 249); */
    font-family: 'Rajdhani', sans-serif;
    border-radius: 2px;
    font-size: 1rem;
}
.custom_select select {
    /* background-color:  rgb(209, 255, 249); */
    border: none ;
    outline: none;
}
select {
    align-items: center;
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
}
.select {
    margin-top: 10px;
    grid-template-areas: "select";
    display: grid;
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}
.select::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: var(--select-arrow);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    justify-self: end;
}
select,
.select:after {
  grid-area: select;
}
select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid var(--select-focus);
  border-radius: inherit;
}
label{
    margin-top: 10px;
}
.guest_card {
    box-sizing: border-box;
    box-shadow: 5px 5px 10px rgb( 0 0 0 / 25%);
    padding: 1rem 1rem 0rem 1rem;
    width: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
}
.guest_card > p {
    margin-top: 4px;
    font-size: 1.5rem;
    text-transform: capitalize;
}