.planit__form {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(209, 255, 249);
    padding: 2rem;
    margin-top: -20px;
    min-height:40rem;
    max-height: auto;
    
}
.planit__form--div {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    background-color: white;
    padding: 1rem 4rem;
    min-height: 514px;
    max-height: auto;
    max-width: 850px;
    min-width: 400px;
    border-radius: 2rem;
    margin: 0rem 4rem;
    align-items:center;
    
}
.title {
    box-sizing: border-box;
    float: center;
    margin: 1rem 0rem;
}

textarea {
    box-sizing: border-box;
    width: 100%;
    height: 4rem;
    margin-bottom: 2rem;
    justify-self: center;
    border: 2px solid black;
    border-radius: 1rem;
    padding: 1rem;
}
.planit__img {
    max-width: 400px;
    border-radius: 2rem;
    align-items: center;
}
.button__div {
    display: flex;
    flex-direction: column;
   
}
.party_pic {
    max-height: 16rem;
    border-radius: 2rem;
}
.party__div{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
.party__div--items{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 2rem;
}
.party__title {
    margin: 0 0;
    font-size: 3.5rem;
}
.party__time {
    font-size: 1rem;
    box-sizing: border-box;
    height: 4rem;
 
}
.party__location {
    font-size: 2rem;
    box-sizing: border-box;
    height: .5rem;
    font-weight: 900;
 
}
.party__form--div {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    background-color: white;
    padding: 2rem 4rem;
    /* min-height: 514px; */
    max-height: auto;
    min-width: 900px;
    /* max-width: 850px; */
    border-radius: 2rem;
}
.planit__page {
    background-color: rgb(209, 255, 249);
    margin-top: -20px;
    display:flex;
    flex-direction: row;
    padding: 2rem;
    justify-content: space-around;

}
.onePlanit--img {
    border-radius: 100%;
    width: 5rem;
    height: 5rem;

}
.profile--pic {
    position: absolute;
    top: -70px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    background-color: white;
    display: flex;
    justify-content: center;
    z-index: 99;
}
.onePlanit--holder {
    display: flex;
    flex-direction: row;
}
.name-tag {
    font-size: 2.5rem;
    /* display: flex; */
}
.claimed {
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
}
.planit__info--div {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    box-sizing: border-box;
    margin: -1rem 0rem;
    padding: -1rem 0rem;
}
.party_item--input {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-self: center;
}