/* TODO Add site wide styles */
body {
    font-family: 'Rajdhani', sans-serif;
    margin: 0px;
    padding: 0px;
}
.banner_img{
    /* max-height: 200px; */
    width: 100%
}
.nav {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(209, 255, 249);
    height: 60px;
    padding: 2rem;
}
.nav a, 
.nav ul li {
    text-decoration: none;
    list-style-type: none;
    color:black;
    padding: .5rem;
    margin: auto;
    /* align-items: center; */
} 
.links {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.3rem;
}
.logo {
    font-size: 3rem;
    color: black;
}
.button_secondary {
    box-sizing: border-box;
    color:rgb(238, 135, 45);
    background-color: white;
    border: 2px solid rgb(238, 135, 45);
    border-radius: 1rem;
    padding: .5rem;
    cursor:grab;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1rem;
    outline:hidden;
}
.button_secondary:hover {
    background-color: rgb(238, 135, 45);
    color: white;
    outline:hidden;
}
/* button:focus {
    /* border-radius: 1rem; */
    /* outline: hidden;
}
input:focus {
    border-radius: 1rem;

} */ 
.button_primary {
    box-sizing: border-box;
    color:black;
    background-color: rgb(209, 255, 249);
    border: 2px solid black;
    border-radius: 2rem;
    padding: 1rem 2rem;
    cursor:grab;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1rem;
    outline:hidden;
}
.button_primary:hover {
    background-color: black;
    color: rgb(209, 255, 249);
    border: 2px solid rgb(209, 255, 249);
    outline:hidden;
}

a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: black;
}
.friends--container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content:space-evenly; 
    align-items: space-between;
    padding: 3rem;
    margin: 1rem;
}
.friends--pic {
    border-radius: 100%;
    object-fit: cover;
    width: 8rem;
    height: 8rem;
    padding: 1rem;
}
.friends--content {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
input, textarea {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline:hidden;
    
}
.login{
    margin: 2px;
    padding-bottom: 8px;
}
.login:hover {
    border-bottom: 2px solid rgb(238, 135, 45);
    padding-bottom: 6px;
}
button:focus, input:focus {
    outline:none !important;
    box-shadow: 2px 2px 6px rgb(13, 13, 57);
}
