.standard__form {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: rgb(209, 255, 249);
    padding: 2rem;
    margin-top: -20px;
    min-height:40rem;
    max-height: auto;
}
.standard__form--div {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: white;
    padding: 2rem 4rem;
    height: 514px;
    width: 350px;
}
.standard__form--form {
    margin-top: 3rem;
       display: flex;
    flex-direction: column;
    justify-self: center;
}
h2 {
    font-size: 2rem;
    text-align: center;
    position: relative;
    margin-top: -5%
}
input {
    padding: .7rem;
    border-radius: .7rem;
    font-size: .7rem;
    margin: .2rem;
    width: 90%;
    align-items:center;
}
label {
    /* position: relative;
    left: 5%; */
    font-size: 1.3rem;
}
a {
    display: flex;
    align-self: center;
}
.errors {
    color: red;
    text-align: center;
    margin-top: -30%;
    font-size: .7rem;;
}